<?xml version="1.0" encoding="UTF-8"?>
<!--type of xml document-->

<!--root element-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!--    child element-->
    <!--context initialization parameter: available to all servlets-->
    <context-param>
        <param-name>custServEmail</param-name>
        <param-value>custServ@murach.com</param-value>
    </context-param>

    <!--    the definitions for the servlets -->
    <servlet>
        <servlet-name>EmailListServlet</servlet-name>
        <servlet-class>murach.email.EmailListServlet</servlet-class>
        <!--servlet initialization parameter: available to specific servlet-->
        <init-param>
            <param-name>relativePathToFile</param-name>
            <param-value>/WEB-INF/EmailList.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MurachTestServlet</servlet-name>
        <servlet-class>murach.email.TestServlet</servlet-class>
    </servlet>

    <!--    the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>EmailListServlet</servlet-name>
        <url-pattern>/emailList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MurachTestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <!--    error pages-->
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--    welcome pages  -->
    <welcome-file-list>
<!--        <welcome-file>index.html</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
